.hero{
    background: linear-gradient(45deg, #000000db, #00000042), url(../Assets/banner-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.active{
    color: rgb(0, 136, 255);
    font-weight: bold;
}